<div class="form-container center">
<h1>Login</h1>
<%= form_tag '/login' do %>
<div>
<div>
<label for="email">User email:</label><%= text_field_tag :email %>
</div>
<div>
<label for="password">Password:</label><%= password_field_tag :password %>
</div>
<%= submit_tag 'Login', class: 'button'%>
</div>
<% end %>
</div>
