/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 /*= require foundation */
/* RGB */
$color1: rgba(45, 49, 66, 1);
$color2: rgba(168, 189, 189, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(79, 93, 117, 1);
$color5: rgba(30, 158, 221, 1);

$title-font: 'Roboto Condensed', sans-serif;
$body-font: 'Crimson Text', serif;

@media (max-width: 600px) {
  header{
    bottom: 0;
    border-top: 1px solid $color2;
  }
  .side-room {
    margin-left: 1.25em !important;
  }
  .header{
    margin: 0 auto !important;
  }
}

body {
    font-family: $body-font;
    font-weight: 100;
}

header {
    padding: 0.25em;
    position: fixed;
    width: 100%;
    background-color: $color3;
    height: 50px;
    display: flex;
    align-content: center;
    display: flex;
    clear: both;
    box-shadow: 1px 1px 1px $color2;
}

.header{
  padding-left: 5%;
  width: 85%;
  display: flex;
  align-items: center;
}

.right{
  display: flex;
  align-self: flex-end;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: $title-font;
    text-shadow: -1px 1px 3px $color2;
}
h3,
h4{
  margin: 0;
  text-shadow: 0;
  font-family: $title-font;

}

a {
    color: $color5;
}

a:hover {
    color: lighten($color5, 5);
    text-shadow: 0 1px 2px rgba(172, 172, 168,.5);
}

.button:hover {
    background-color: lighten($color5, 5);
    box-shadow: 0 2px 5px rgb(172, 172, 168);
}

textarea {
    height: 10em;
}

input,
select,
textarea {
    border-radius: 10px !important;
}

.header-block {
    height: 3.5em;
    width: 100%;
    margin-bottom: 2em;
}

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.header-logo {
    font-size: 1.5em;
}

.header-link {
    font-size: 1.5em;
}

.profile-top {
    background-color: $color5;
    border-radius: 1em;
    text-align: center;
}

.profile-bottom {
    background-color: $color2;
    border-radius: 0 0 1em 1em;
    padding: 75px 10px 10px;
    margin-top: -75px;
}

.profile-photo {
    height: 10em;
    border-radius: 50%;
    background-color: $color3;
    border: 3px solid $color2;
}

.thumbnail {
    border-radius: 1em;
    max-width: 45vw;
}

.inline {
    display: inline;
    padding-left: 1em;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.text-summary {
    margin-bottom: 1em;
}

.personal-info,
.posts-container {
    margin: 2em 0;
}

.right {
    position: relative;
    float: right;
}

.container {
    text-align: center;
}

.main-photo img {
    margin: 0 auto 1em;
    border-radius: 1em;
    max-height: 50vmin;
    max-width: 100vmax;
}

.medium-photo {
    border-radius: 1em;
    max-height: 35vmin;
}

.rock-salt {
    font-family: 'Rock Salt' !important;
}

.bigger {
    font-size: 150%;
}

.little-bigger {
    font-size: 125%;
}

.up {
    margin-top: -15px;
}

.post {
    margin: 0 auto 1em;
    width: 65%;
}

.post p {
    text-align: justify;
    letter-spacing: -.51px;
}

em {
    font-style: normal !important;
}

.pages a,
em {
    margin: 1.25em;
}

.side-room{
  margin-left: 1em;
}

.form-container {
    width: 50%;
}

.narrower {
    width: 80%;
}

.no-padding {
    padding: 0;
}

.vertical-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.button {
    border-radius: 5px;
    background-color: $color5;
    box-shadow: 0 2px 3px gray;
}

.paragraphs {
    text-align: left;
    width: 80%;
    margin: 0 auto;
    word-wrap: break-word;
}

.post p{
  word-wrap: break-word;
}

.post-header {
    text-align: center;
}

.space {
    margin: 1em;
}

.non-collapse {
    height: 1px;
}

.stretch {
    margin-bottom: 1em;
    height: 70vmin;
    overflow: hidden;
    display: block;
}

.phone-image {
    max-height: 550px;
    margin-top: 2.5em;
}

.post-title{
  text-shadow: none;
  font-weight: 500;
}
